{% extends "main.twig" %}

{% block nav %}

{% endblock %}

{% block body %}

    <h1>{{ 'Installing schema'|trans }}</h1>

    {% for query in queries %}
    <code>{{ query }}</code>
    {% endfor %}

{% endblock %}