<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <script src="{{ baseurl }}/components/require-built.js"></script>
        <script>
            require.config({
                baseUrl: '{{ baseurl }}/components'
            });
        </script>
        <script>
            require(['jquery'], function($) { 
                /* $(function(){alert('Hello from jquery !');}); */
            } );
        </script>
    </head>
    <body>
        <nav>
            <ul>
                <!-- 
            {% if app.session.get('user') is null %}
            
                <li><a href="{{ baseurl }}/login">{{ 'Sign in'|trans }}</a></li>
            
            {% else %}

                <li><a href="{{ baseurl }}/logout">{{ 'Sign out'|trans }}</a></li>

            {% endif %}
                -->
                <li>
                    <a href="{{ url('homepage') }}">{{ 'Homepage'|trans }}</a>
                </li>
                {% block nav %}{% endblock %}
            </ul>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>