{% extends "main.html" %}

{% block body %}

<article>
    {% set author = proposition.author() %}
    <hgroup>
        <h1>{{ proposition.title }}</h1>
        <p>{{ sprintf(__("Published by %s %s on %s"), author.firstname, autor.lastname, proposition.publication_date ) }}</p>
    </hgroup>
    <section class="propositionBody">{{ proposition.body }}</section>
    <section class="propositionComments">
        {% for comment in proposition.comments() %}
            <article class="comment">
                {% include "comment.html" %}
            </article>
        {% endfor %}
    </section>
</article>

{% endblock %}