{% extends "main.html" %}

{% block nav %}
		<li>
			<a href="{{ baseurl }}/user/new">{{ 'Add user'|trans }}</a></td>
		</li>
{% endblock %}

{% block body %}
<!-- user template -->
<h1>{{ 'User list'|trans }}</h1>

<table>
	<thead>
		<tr>
			<th>{{ 'First name'|trans }}</th>
			<th>{{ 'Last name'|trans }}</th>
			<th>{{ 'email'|trans }}</th>
			<th>{{ 'Profile'|trans }}</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for user in users %}
		<tr>
			<td>{{ user.firstname }}</td>
			<td>{{ user.lastname }}</td>
			<td>{{ user.email }}</td>
			<td><a href="{{ baseurl }}/user/{{ user.id }}">{{ 'show'|trans }}</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}