{% extends "main.html" %}

{% block body %}
<!-- user template -->
<h1>{{ __('Users') }}</h1>

<table>
	<thead>
		<tr>
			<th>{{ __('First name') }}</th>
			<th>{{ __('Last name') }}</th>
			<th>{{ __('email') }}</th>
			<th>{{ __('Profile') }}</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for user in users %}
		<tr>
			<td>{{ user.firstname }}</td>
			<td>{{ user.lastname }}</td>
			<td>{{ user.email }}</td>
			<td><a href="{{ baseurl }}/user/{{ user.id }}">{{ __('show') }}</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}