{% extends "main.html" %}

{% block nav %}
        <li>
            <a href="{{ baseurl }}/user">{{ 'User list'|trans }}</a></td>
        </li>
        <li>
            <a href="{{ baseurl }}/user/new">{{ 'Add user'|trans }}</a></td>
        </li>
{% endblock %}

{% block body %}
<!-- user template -->
<h1>{{ app.translator.trans("Hello %firstname% %lastname%", { '%firstname%': user.firstname, '%lastname%': user.lastname}) }}</h1>
<dl>
    <dt>{{ 'First name'|trans }}</dt>
    <dd>{{ user.firstname }}</dd>
    <dt>{{ 'Last name'|trans }}</dt>
    <dd>{{ user.lastname }}</dd>
    <dt>{{ 'email'|trans }}</dt>
    <dd>{{ user.email }}</dd>
</dl>
{% endblock %}
